<tr>
  <td id='reviewer-name'><%= review.reviewer_name %></td>
  <td id='reviewer-title'><%= review.title %></td>
  <td id='review-text'><%= review.review_text %></td>
  <td id='review-movie'><%= review.movie.title %></td>
</tr>


